!!! 5
%html
  %head
  %body
    - if fb.valid?
      %p Welcome
      %fb:name{:uid => fb[:user], :useyou => 'false'}
    - else
      %fb:login-button{:perms => 'user_location'} Click me!
    #fb-root
    %script{:type => "text/javascript", :src  => "http://connect.facebook.net/en_US/all.js"}
    :javascript
      FB.init({appId: '#{APP_ID}', status: true, cookie: true, xfbml: true});
      FB.Event.subscribe('auth.login', function(response) {
        window.location.reload();
      });
